<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Grill Master - Restablecer contraseña </title>
    <link href='https://fonts.googleapis.com/css?family=Figtree' rel='stylesheet'>
    <link rel="icon" href="{% static '../static/img/grillmasterlogo/logo.png' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/pssword.css' %}">
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    
    <hr class="separador">
    <hr class="separador1">
    <div class="contenido">
        <h2 style="text-align: center; color: #FAB451;">Correo de restablecimiento enviado</h2>
        <p style="text-align: center; color: #FAB451; font-size: large;">Se ha enviado un correo electronico para que pueda reestablecer su contraseña. Revise su correo electronico, en caso de no encontrarlo busque en la bandeja de spam.</p>
    </div>
    
    {% include 'footer.html' %}

    <script src="{% static 'js/clock.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>